/*! Visible markers for the layout, not for use in production. */

// Make the structure of the main sections visible.

body > .page,
// .site,
// .site-header,
.site-content,
.site-footer {
  border: 1px solid rgb(0, 0, 0);
  margin: 1rem;
  padding: 1rem;
}

// Show structure of the secondary featrures with a different color.
.content-area,
.widget-area {
  border: 1px solid rgb(0, 0, 255);
  margin: 1rem;
  padding: 1rem;
}

// Contained within .site-main .hentry
.entry-header,
.entry-content,
.entry-footer {
  border: 1px solid rgb(0, 255, 0);
  margin: 1rem;
  padding: 1rem;
}

// Contained within .widget-area.
.widget {
  border: 1px solid rgb(0, 255, 0);
  margin: 1rem;
  padding: 1rem;
}
