.site-header {
  align-items: center;
  display: flex;
  justify-content: left;
  padding: 0 1rem;
}

.site-header__menu--button {
  cursor: pointer;
  flex: 0 1 content;
  font-size: 2rem;
  min-width: 1em;

  a {
    color: $color__text-main;
  }
}

.site-branding {
  align-items: center;
  display: flex;
  margin: 1rem;
}

.site-branding__logo {
  align-items: center;
  display: flex;
  flex: 0 1 content;
  width: 150px;

  img {
    display: block;
    width: 100%;
  }
}

.site-branding__titles {
  line-height: 1;
  padding-left: 2rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    a {
      color: $color__text-main;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 1rem;
    margin-top: 0;
  }
}


.site-header__buttons {
  flex: 1 1 ;
  text-align: right;

  button {
    background: $color__background-button;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    color: $color__text-main;
    font-size: 1.5rem;
    margin: 0.3em 0;
    padding: 0.2rem 0.5rem;
    transition: 0.2s;

    a {
      color: $color__text-main;
      text-decoration: none;
    }
  }
}

.site-header__booking--form {
  background: $color__background-button;
  border: 1px solid rgb(0, 0, 0);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 3fr;
  padding: 1rem;
  position: fixed;
  right: -100vw;
  transition: 0.3s ease-in-out;
  width: 90vw;
  z-index: 4;

  &.active {
    right: 0;
  }

  label {
    margin-top: 1rem;
  }
}

@media only screen and (min-width: $breakpoint__medium){
  .site-header {
    display: grid;
    grid-column-gap: 1rem;
    grid-template-areas: // sass-lint disable-line indentation
      'header-branding header-cta' // sass-lint disable-line indentation
      'header-menu header-menu'; // sass-lint disable-line indentation
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
  }

  .site-branding {
    grid-area: header-branding;
  }

  .site-branding__titles {
    h1 {
      font-size: 2.5rem;
    }

    .site-description {
      font-size: 1.5rem;
    }
  }

  .site-header__buttons {
    grid-area: header-cta;

    button {
      font-size: 2rem;
    }
  }
}// end $breakpoint__medium
