
.sub-menu-toggle {
  background: rgb(150, 150, 150);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 0.3em 0 0.5em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 8px; //Adjust this for vertical alignment.
  width: 4em;

  &::before {
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 1.5em;
    height: 40px;
    padding: 1em;
  }

  &.active::before {
    content: '\f00d';
  }
}

.site-header__menu--list {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(0, 0, 0);
  border-radius: 0 4px 4px 0;
  border-right: 1px solid rgb(0, 0, 0);
  border-top: 1px solid rgb(0, 0, 0);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.6);
  display: block;
  left: 0;
  list-style-type: none;
  max-width: 400px;
  padding: 1rem 2rem;
  position: absolute;
  transform: translate3d(-85vw, 0, 0);
  transition: transform 0.2s ease-in-out;
  width: 80%;
  z-index: 4;

  li {
    margin: 0.7rem 0;
  }

  a {
    color: $color__text-main;
    text-decoration: none;
  }


}

.site-header__menu.active {
  .site-header__menu--list {
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
  }
}

.site-header__sub-menu {
  background: rgb(226, 197, 155);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  left: -100vw;
  list-style-type: none;
  padding: 0.5rem 1rem 0.5rem 4rem;
  position: absolute;
  transition: 0.5s;

  &.active {
    left: 0;
    max-height: 100%;
  }

  li {
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: $breakpoint__medium) {
  .site-header__menu {
    grid-area: header-menu;
    text-align: center;
  }

  .site-header__menu--button {
    display: none;
  }

  .site-header__menu--list {
    border: 0;
    box-shadow: none;
    left: 0;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    top: 0;
    transform: none;
    width: 100%;

    li {
      display: inline-block;
      margin: 0 0.6rem;
      position: relative;
    }
  }

  .menu-item-has-children {
    padding-right: 1.5rem;

    &:hover {
      .sub-menu-toggle {
        transform: rotate(90deg);
      }

      .site-header__sub-menu {
        height: auto;
        max-height: 100vh;
        opacity: 1;
        transition: 0.3s;
      }
    }
  }

  .sub-menu-toggle {
    background: none;
    padding: 0;
    top: 0;
    transition: 0.2s;


    &::before {
      color: $color__text-main;
      font-size: 1em;
      height: 1rem;
      padding: 0;
      right: 0;
      top: 0;
    }
  }

  .site-header__sub-menu {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    left: 0;
    list-style-type: none;
    margin: 0 0 1rem 1rem;
    max-height: 0;
    opacity: 0;
    padding: 0.2rem 1rem;
    position: absolute;
    text-align: left;
    transition: 0.3s;
    width: 150px;

    li {
      display: list-item;
      margin: 1rem 0;
      padding: 0;
      white-space: nowrap;
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
} // end $breakpoint__medium

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
